* {
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}

body {
    color: #3D4C53;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
}

.search-container{
    background-color: #fff;
    display: grid;
    grid-template-rows: 12% 88%;
}

section > div > .search-control {
    padding: 20px 20px 0 20px;
    display: grid;
    grid-template-columns: 80% 20%;
    height: 35px;
    gap: 5px;
}

section > div > .search-control > input {
    padding-left: 10px;
    font-size: 15px;
}

section > div > .filter-control {
    padding: 5px 20px 0 20px;
    display: grid;
    grid-template-columns: 90% 10%;
    height: 35px;
    gap: 5px;
}

section > div > .filter-control > select {
    font-size: 15px;
    padding-left: 5px;
}

section > div > .result-header {
    background-color: #004E62;
    text-align: center;
    height: 30px;
    color: #fff;
    padding: 10px 0 0 0;
}

section > div > .result-body {
    padding: 30px;
    display: grid;
    grid-template-columns: 25% 2px 73%;
    gap: 10px;
}

section > div > .result-body > .loc-opening {
    text-align: center;
}

section > div > .result-body > .loc-opening > .icon {
    position: relative;
    background-image: url('../img/map_pin_regular.png');
    background-repeat: no-repeat;
    height: 100px;
    margin: 10px 0 -30px 30px;
    color: #f5f5f5;
}

section > div > .result-body > .loc-opening > .icon > span{
    padding: 0 0 -30px -20px;
}

section > div > .result-body > .spacer {
    height: 100%;
    width: 2px;
    background-color: #004E62;
}

section > div > .result-body > .loc-details {
    display: grid;
    grid-template-columns: 95% 5%;
    gap: 5px;
}

section > div > .result-body > .loc-details > .data {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    gap: 5px;
}

section > div > .result-body > .loc-details > .data > div > .direction {
    background-color: #004E62;
    color: #fff;
    margin-top: -10px;
    padding: 10px 20px;
    border: 1px;
    font-size: 15px;
    border-radius: 5px;
}

section > div > .result-body > .loc-details > div > .loc-title {
    font-weight: bold;
    font-size: 20px;
} 

section > div > .result-body > .loc-details > div > .more-details {
    height: 100px;
    width: 20px;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

section > .result-detail {
    display: none;
}

section > div > .item-body {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 20px;
}

section > div > .item-body > ul > li {
    list-style-type: none;
    text-align: left;
    padding: 10px 0;
}

section > div > .item-body > ul > li > span {
    background-color: #004E62;
    padding: 2px 8px;
    border-radius: 40px;
    margin-right: 10px;
}

section > div > .item-footer {
    display: grid;
    grid-template-columns: 1fr;
    float: right;
    padding: 20px;
}

section > div > .item-footer > button {
    width: 150px;
    height: 40px;
    background-color: #004E62;
    color: #fff;
}


@media only screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }

    #map{
        display: none;
    }
}
